[Unit]
Description=Copies updated resolv.conf to postfix chroot and restarts postfix.

[Service]
Type=simple
ExecStart=/etc/resolvconf/update-libc.d/postfix

[Install]
WantedBy=multi-user.target
